* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h1 {
        color: var(--c4);
    }

}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --c1: rgb(34, 40, 49);
    --c2: rgb(57, 62, 70);
    --c3: rgb(0, 173, 181);
    --c4: rgb(238, 238, 238);
}

body {
    main {
        height: 100%;
        width: 100%;
        background-color: var(--c1);

        

        section.Allelems {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 3rem;
            padding-top: 2rem;

            .elem {
                height: 25rem;
                width: 20rem;
                overflow: hidden;
                position: relative;
                border-radius: 2rem;
                transition: transform 0.2s ease-in-out;
                cursor: pointer;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h1 {
                    position: absolute;
                    bottom: 2.5%;
                    right: 7.5%;
                    font-family: Montserrat;
                    border-bottom: solid 2px red;
                    border-width: 0px;
                    transition: all 0.2s linear;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #00ADB5;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: transform 0.3s ease;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                    }
                }

                &:active {
                    transform: scale(0.98);
                }
            }

        }
        .fullelems {
            height: 100%;
            width: 100%;
            background-color: var(--c1);
            display: none;
            position: absolute;
            top: 0;
            
            
            
            .closebtn{
                position: absolute;
                top: 2%;
                right: 2%;
                background: none;
                border: none;
                background-color: var(--c3);
                font-size: 2rem;
                color: var(--c4);
                cursor: pointer;
                padding: 0.5rem;
                border-radius: 50%;
            }
        }
        .fullelems.todofullpage{
            
            #maincontainer{
                height: 100%;
                width: 100%;
                background-color: red;
                display: flex;
                align-items: center;

                .taskadder{
                    height: 90%;
                    width: 35%;
                    background-color: yellow;
                }
            }
        }
    }
}